
@{
    ViewData["Title"] = "Check Email PLease !";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Password Reset Link Has Been Sent To Your Email. PLease Check Your Inbox ^_^ :
                <a href="https://mail.google.com/mail/u/0"> Click Here.</a>
            </div>
        </div>
    </div>
</div>
