@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All"></div>
            <input asp-for="@Model.Email" type="hidden" />
            <input asp-for="@Model.Token" type="hidden" />
            <input class="text" type="password" asp-for="@Model.Password" placeholder="Password" required="" />
            <input class="text" type="password" asp-for="@Model.ConfirmPassword" placeholder="ConfirmPassword" required="" />
            <input type="submit" value="Reset Password" />
        </form>
    </div>
</div>

