@{
    ViewData["Title"] = "Home Page";
}

<h3  style="color:burlywood;font-size:60px" >Welcome to the Home Page <span style="color:brown">^_^</span> </h3>
<p style="color:cadetblue">This is the <span style="color:darkslategrey;font-size:30px">home</span> page content.</p>
