@model ApplicationRole
@{
    ViewData["Title"] = "Update";
}

<h1>Update Role</h1>
<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Roles">
            <input asp-for="Id" hidden />
            <partial name="PartialViews/CreateUpdatePartialView" model="@Model" />

            <div class="my-3">
                <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-roleId="@Model.Id">Add Or Remove User</a>
            </div>

            <input type="submit" value="Update" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-dark"> Back To List -->></a>
        </form>
    </div>
</div>
